.color-white { color: #f3f0e8; }
.color-light-gray { color: #e6e4e0; }
.color-gray { color: #858480; }
.color-dark-gray { color: #5e5e5e; }
.color-olive { color: #b9b99d; }
.color-orange { color: #dcb482; }
.color-starlight { color: #e0cfc3; }
.color-light-brown { color: #d5caba; }
.color-brown { color: #c09e85; }
.color-dark-brown { color: #8f837a; }
.color-matcha { color: #b0b9a8; }
.color-green { color: #606c5a; }

.background-color-white { background-color: #f3f0e8; }
.background-color-light-gray { background-color: #e6e4e0; }
.background-color-gray { background-color: #858480; }
.background-color-dark-gray { background-color: #5e5e5e; }
.background-color-olive { background-color: #b9b99d; }
.background-color-orange { background-color: #dcb482; }
.background-color-starlight { background-color: #e0cfc3; }
.background-color-light-brown { background-color: #d5caba; }
.background-color-brown { background-color: #c09e85; }
.background-color-dark-brown { background-color: #8f837a; }
.background-color-matcha { background-color: #b0b9a8; }
.background-color-green { background-color: #606c5a; }
